
* {
    font-family: helvetica;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FFF4E0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-page {
    display: hide;
    z-index: -1;
}

.canvas {
    border: 10px solid black;
    background-size: cover;
    cursor: url(file:///Users/kyleanderson/git/WDI/WDI-Game-Project/Images/Crosshair.png) 30 30, crosshair;
    background-image: url("file:///Users/kyleanderson/git/WDI/WDI-Game-Project/Images/Background.png");
    background-size: 100% 100% no-repeat;
    background-color: white;
    /* width: 1000px;
    height: 700px; */
}   

.canvas-container {
    text-align: center;
    margin: auto 500px;
}

nav {
    margin: 0px 20px;
}

.top-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    margin: 0px 20px; 
}

h1 {
    font-size: 40px;
    margin: 5px 10px;
}

#timer {
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
    margin: 20px 30px;
    padding: 5px;
    display: block;
}

.drifttype {
    font-family: DriftType Regular;
}

.xenosphere {
    font-family: xenosphere Regular;
}

.reset-btn {
    font-size: 25px;
    border-radius: 5px;
    margin-left: 30px;
    color: black;
    border: solid black 5px;
    padding: 10px;
    outline: none;
    margin: 0px 50px;
}

.reset-btn:hover {
color: white;
background-color: black;
}
 
h3 {
    margin: 20px 50px;
    text-align: center;
} */
